In [215]:
%load_ext autoreload
%autoreload 2
PROJ_HOME='/Users/keemsunguk/Projects/analyst_performance/'
import sys
sys.path.append(PROJ_HOME)
import gc
from datetime import datetime

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [216]:
import locale
import pandas as pd
import copy
import pickle
from tqdm import tqdm

In [217]:
from pathlib import Path

In [218]:
data_dir = Path(PROJ_HOME+'/data')

In [219]:
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

In [220]:
nlp = spacy.load("en_core_web_lg")

In [221]:
from googletrans import Translator

In [222]:
translator = Translator(service_urls=[
      'translate.google.com',
      'translate.google.co.kr',
    ])

# Loading sentiment data

In [223]:
sentiment_df = pd.read_pickle(PROJ_HOME+'/data/sentiment_pub_trade.pkl')

In [224]:
sentiment_df['author'] = sentiment_df['author'].apply(lambda x: x.strip())

In [225]:
author_production = dict(sentiment_df['author'].value_counts())

In [226]:
author_production

{'이동헌': 354,
 '박종선': 346,
 '한상원': 280,
 '김경민': 271,
 '조미진': 268,
 '박상준': 258,
 '한유정': 257,
 '이상헌': 255,
 '김현용': 255,
 '정태준': 249,
 '박은정': 243,
 '안재민': 241,
 '정홍식': 237,
 '이동욱': 227,
 '김홍식': 226,
 '양지환': 215,
 '김회재': 214,
 '백영찬': 210,
 '손효주': 208,
 '최종경': 206,
 '성종화': 199,
 '김운호': 197,
 '홍세종': 197,
 '박세라': 196,
 '유정현': 196,
 '안지영': 193,
 '박신애': 192,
 '이경신': 192,
 '박강호': 192,
 '심은주': 192,
 '하누리': 191,
 '최민하': 188,
 '김동원': 186,
 '박종렬': 186,
 '강승건': 183,
 '강동진': 183,
 '신수연': 182,
 '박성호': 182,
 '서정연': 179,
 '김세련': 177,
 '백재승': 173,
 '오동환': 173,
 '유지웅': 172,
 '이문종': 170,
 '윤재성': 169,
 '김고은': 168,
 '남성현': 167,
 '김장열': 167,
 '박형우': 166,
 '김지산': 162,
 '이상현': 161,
 '강성진': 160,
 '주영훈': 160,
 '이순학': 160,
 '박혜진': 160,
 '김미송': 158,
 '김지영': 158,
 '이진협': 158,
 '전우제': 157,
 '박은경': 154,
 '황어연': 152,
 '김현태': 152,
 '임은영': 152,
 '김혜미': 151,
 '송유림': 150,
 '이한준': 149,
 '유재선': 149,
 '이기훈': 149,
 '배송이': 148,
 '김동하': 148,
 '이종형': 147,
 '남효지': 147,
 '정동익': 146,
 '김장원': 146,
 '한병화': 145,
 '어규진': 144,
 '장문수': 144,
 '이남수': 143,
 '이안나': 141,
 '방민진': 140,
 '조현렬': 140,
 '김동희': 140,
 '차재헌': 140,
 '전배승': 139,
 '허혜민': 138,
 '박현진': 138,
 '김도하': 138,
 '김진상': 137,
 '박성봉': 136,
 '한경래': 136,
 '이동건': 136,
 '박종대': 135,
 '노우호': 135,
 '박무현': 134,
 '선민정': 134,
 '김인': 133,
 '하태기': 133,
 '엄경아': 133,
 '김현수': 132,
 '이동륜': 132,
 '이승훈': 131,
 '김양재': 131,
 '이효진': 131,
 '장문준': 130,
 '박성순': 130,
 '신은정': 130,
 '안주원': 130,
 '김소혜': 130,
 '정용진': 130,
 '나승두': 129,
 '최관순': 128,
 '이민재': 127,
 '임희연': 126,
 '박현욱': 124,
 '오린아': 123,
 '박원재': 123,
 '김민정': 122,
 '이지연': 122,
 '심지현': 121,
 '주민우': 121,
 '김동양': 120,
 '이화정': 120,
 '박유악': 120,
 '조상훈': 120,
 '김기룡': 119,
 '소현철': 118,
 '송선재': 118,
 '김한이': 117,
 '이지영': 117,
 '이민아': 117,
 '정지수': 116,
 '황유식': 116,
 '서근희': 116,
 '조윤호': 115,
 '정혜진': 114,
 '박희진': 113,
 '류제현': 112,
 '권성률': 112,
 '최광식': 111,
 '한영수': 111,
 '김진우': 111,
 '라진성': 111,
 '장정훈': 110,
 '강혜승': 109,
 '최정욱': 109,
 '최진성': 109,
 '오강호': 109,
 '문용권': 109,
 '김충현': 108,
 '정원석': 107,
 '김진구': 106,
 '이명선': 106,
 '김명주': 106,
 '최보영': 105,
 '정준섭': 104,
 '김열매': 104,
 '성준원': 104,
 '이정기': 103,
 '김창권': 103,
 '김록호': 102,
 '김승준': 102,
 '황성현': 102,
 '김광진': 102,
 '하준영': 101,
 '구경회': 101,
 '서영수': 100,
 '백두산': 100,
 '박진형': 99,
 '김태현': 98,
 '김평모': 98,
 '이경자': 97,
 '권순우': 97,
 '김소원': 96,
 '이진명': 95,
 '이혜린': 95,
 '성현동': 95,
 '한승재': 95,
 '고의영': 95,
 '이재일': 95,
 '안진아': 95,
 '김현욱': 93,
 '최도연': 93,
 '정호윤': 92,
 '김규리': 91,
 '이홍재': 91,
 '이종욱': 91,
 '윤혁진': 90,
 '김상표': 90,
 '황현준': 90,
 '장지혜': 90,
 '황성진': 89,
 '장민준': 89,
 '최고운': 89,
 '이규하': 89,
 '김영호': 88,
 '윤을정': 88,
 '지인해': 87,
 '이승우': 87,
 '은경완': 87,
 '변종만': 87,
 '김유혁': 86,
 '이현수': 86,
 '김두현': 86,
 '이건재': 84,
 '이소중': 84,
 '김재윤': 84,
 '조철희': 84,
 '김정현': 84,
 '황규원': 84,
 '성정환': 83,
 '문경원': 82,
 '최진명': 82,
 '고정우': 82,
 '박지원': 81,
 '이수빈': 81,
 '이진만': 81,
 '김수현': 80,
 '박찬솔': 80,
 '박정엽': 79,
 '노경탁': 79,
 '이병건': 79,
 '서충우': 79,
 '이재윤': 78,
 '정연승': 78,
 '김철중': 77,
 '김윤상': 77,
 '김은갑': 77,
 '조수홍': 77,
 '김정욱': 77,
 '리서치알음': 77,
 '이선화': 76,
 '이종원': 76,
 '최재호': 76,
 '이창영': 75,
 '김준성': 75,
 '백준기': 75,
 '김정환': 74,
 '나은채': 74,
 '박재일': 74,
 '김현': 74,
 '백광제': 73,
 '박용희': 73,
 '진홍국': 72,
 '박찬호': 72,
 '이민희': 72,
 '이달미': 71,
 '신서정': 71,
 '이동주': 70,
 '한동희': 70,
 '김학준': 70,
 '김민선': 70,
 '김준섭': 69,
 '이봉진': 69,
 '이창민': 69,
 '원민석': 69,
 '장효선': 69,
 '김홍균': 68,
 '이재광': 68,
 '서미화': 67,
 '유승우': 67,
 '오승택': 67,
 '이현동': 67,
 '유성만': 66,
 '김한경': 66,
 '신재훈': 66,
 '정하늘': 66,
 '송명섭': 65,
 '김준환': 65,
 '심원섭': 64,
 '오태완': 64,
 '이왕진': 63,
 '노근창': 63,
 '김재우': 63,
 '박연주': 63,
 '최남곤': 63,
 '이정은': 62,
 '구완성': 62,
 '이희철': 62,
 '도현우': 62,
 '문경준': 62,
 '신지훈': 61,
 '최준영': 60,
 '임상국': 60,
 '조은애': 60,
 '이병화': 60,
 '김정섭': 60,
 '김선우': 60,
 '나관준': 60,
 '황승택': 60,
 '이도연': 59,
 '이현지': 59,
 '윤창민': 59,
 '김영준': 58,
 '정소연': 57,
 '김태희': 57,
 '홍가혜': 56,
 '이경일': 55,
 '정혜정': 54,
 '홍성우': 54,
 '나민식': 53,
 '함형도': 51,
 '이선일': 51,
 '박하경': 51,
 '손세훈': 50,
 '이승웅': 49,
 '이수경': 49,
 '유종우': 48,
 '양형모': 48,
 '오병용': 48,
 '박재경': 48,
 '김귀연': 46,
 '박형렬': 46,
 '권태우': 46,
 '강하영': 45,
 '조보람': 45,
 '강경근': 44,
 '박일선': 43,
 '신효섭': 42,
 '이학무': 41,
 '전영현': 40,
 '정민구': 40,
 '박병국': 40,
 '윤주호': 39,
 '고영민': 39,
 '김형수': 39,
 '이혁진': 38,
 '김치호': 38,
 '양일우': 37,
 '이성훈': 37,
 '유승창': 37,
 '최영산': 37,
 '신지윤': 36,
 '김종민': 36,
 '김인필': 36,
 '김지하': 35,
 '손지우': 35,
 '황고운': 35,
 '유경하': 35,
 '황민성': 35,
 '윤승현': 34,
 '김영우': 34,
 '허제나': 34,
 '김성환': 34,
 '강동근': 33,
 '한유건': 33,
 '전유진': 33,
 '이승환': 32,
 '김승회': 32,
 '배현기': 32,
 '고문영': 32,
 '박한샘': 31,
 '채상욱': 31,
 '한상웅': 30,
 '조용선': 30,
 '김선미': 29,
 '구자용': 29,
 '박준호': 28,
 '서혜원': 28,
 '조태나': 28,
 '이승철': 27,
 '강석오': 27,
 '정대로': 26,
 '전혜영': 26,
 '서승연': 26,
 '이광수': 26,
 '이남석': 25,
 '송유종': 25,
 '김찬우': 25,
 '강성훈': 24,
 '이준용': 24,
 '임예림': 24,
 '김민철': 24,
 '유현재': 24,
 '김슬': 23,
 '조민서': 23,
 '김영건': 23,
 '정길원': 23,
 '김현기': 23,
 '문정윤': 23,
 '최석원': 22,
 '강경태': 22,
 '김용호': 21,
 '정우창': 21,
 '남정미': 21,
 '박경근': 21,
 '임윤진': 21,
 '이지수': 21,
 '한상준': 20,
 '배세진': 20,
 '정의훈': 19,
 '나성준': 19,
 '전상용': 19,
 '정준영': 19,
 '박정원': 18,
 '황성환': 18,
 '엄태웅': 18,
 '이재연': 17,
 '유한휘': 17,
 '문지혜': 17,
 '구성진': 17,
 '서현정': 16,
 '유욱재': 16,
 '윤정한': 16,
 '박형민': 16,
 '정승윤': 16,
 '이태영': 15,
 '유근탁': 15,
 '김재훈': 15,
 '김태엽': 15,
 '홍종모': 14,
 '성용훈': 14,
 '유승준': 14,
 '임수연': 14,
 '이새롬': 14,
 '이태환': 14,
 '김민경': 13,
 '엄민용': 13,
 '심의섭': 12,
 '이지현': 12,
 '이원주': 12,
 '신윤철': 12,
 '김한룡': 11,
 '이원식': 11,
 '오현진': 10,
 '전창현': 10,
 '이세웅': 10,
 '남대종': 10,
 '이환욱': 9,
 '이해니': 9,
 '윤유동': 9,
 '박주영': 9,
 '원재희': 8,
 '권세라': 8,
 '허지연': 8,
 '이나연': 8,
 '송재경': 8,
 '이세영': 8,
 '허민호': 8,
 '염종선': 8,
 '위정원': 8,
 '민사영': 7,
 '손지연': 7,
 '허선재': 6,
 '조영환': 6,
 '이승은': 6,
 '차유미': 6,
 '김아영': 5,
 '박종현': 5,
 '이나경': 5,
 '구성중': 5,
 '정지윤': 5,
 '정송훈': 5,
 '정유진': 4,
 '박다겸': 4,
 '정인묵': 4,
 '은성민': 4,
 '박광삼': 4,
 '심원용': 3,
 '정재헌': 3,
 '심동명': 3,
 '이혜인': 3,
 '경민정': 2,
 '김유희': 2,
 '노승은': 2,
 '장세훈': 2,
 '김조운': 2,
 '김물결': 2,
 '리서치센터': 2,
 '김재철': 2,
 '최영광': 2,
 '임규미': 2,
 '장재호': 2,
 '이경록': 2,
 '안도영': 2,
 '신지수': 2,
 '전득호': 1,
 '최길환': 1,
 '김규상': 1,
 '정익현': 1,
 '변운지': 1,
 '박세진': 1,
 '장승우': 1,
 '신언범': 1}

In [227]:
sentiment_df['recommendation'].value_counts()

BUY              23211
매수                7057
NR                6258
HOLD              1556
중립                 388
MarketPerform      263
Trading Buy        158
Neutral             99
Outperform          96
STRONG BUY          67
없음                  59
보유                  27
Underperform        11
비중축소                 8
Sell                 5
REDUCE               4
Name: recommendation, dtype: int64

Strong BUY

Trading BUY, BUY, 매수, Outperform

보유, HOLD, 중립, Marketperform, Neutral

없음,NR

비중축소/REDUCE

Underperform/Sell

In [228]:
recommendation_lookup = {
    'STRONG BUY': 'STRONG_BUY',
    'Strong Buy': 'STRONG_BUY',
    'Trading Buy': 'BUY',
    'BUY': 'BUY',
    '매수': 'BUY',
    'Outperform': 'BUY',
    '보유': 'HOLD',
    'NEUTRAL': 'HOLD',
    'HOLD': 'HOLD',
    '중립': 'HOLD',
    'MarketPerform': 'HOLD',
    'Neutral': 'HOLD',
    '없음': 'NR',
    'NR': 'NR',
    '비중축소': 'REDUCE',
    'REDUCE': 'REDUCE',
    'Underperform': 'SELL',
    'Sell': 'SELL',
}

In [229]:
sentiment_df['recommendation'] = sentiment_df['recommendation'].apply(lambda x: recommendation_lookup[x])

In [230]:
sentiment_df[['recommendation']].value_counts()

recommendation
BUY               30522
NR                 6317
HOLD               2333
STRONG_BUY           67
SELL                 16
REDUCE               12
dtype: int64

In [231]:
sentiment_df

,author,source,ticker_symbol,company,report_date,발행 전일,발행 전전일,report_title,opening,closing,...,고가45,고가46,고가47,고가48,고가49,고가50,H25,H50,en_report_title,sentiment
0,백영찬,KB,A078930,GS,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,4분기 실적은 기대수준을 소폭 하회할 전망,51300,50000,...,41000.0,39400.0,40450.0,40450.0,40550.0,36400.0,51400,51400,4Q09 earnings are expected to meet expectations,-0.100000
1,백영찬,KB,A010060,OCI,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,폴리실리콘 원가개선 필요한 시점,62700,62800,...,52000.0,50100.0,48450.0,48200.0,46300.0,39150.0,65900,67300,Polysilicon cost improvement required,0.000000
2,백영찬,KB,A011780,금호석유,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,"견조한 고무사업, 그러나 부진한 페놀유도체",77300,76000,...,65900.0,64200.0,62800.0,63200.0,63700.0,56300.0,82100,82100,"A solid rubber business, but sluggish phenol oil",0.000000
3,장정훈,삼성,A006400,삼성SDI,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,20년 연초에 꾸는 꿈,237000,232000,...,323500.0,305500.0,298000.0,301500.0,291500.0,284500.0,322500,351000,Dreams of 20 years,0.000000
4,백영찬,KB,A051910,LG화학,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,4분기 ESS 비용반영을 긍정적으로 보자,321000,314000,...,404000.0,385500.0,380000.0,377500.0,367000.0,343500.0,391500,422500,Let's see a positive reflection of ESS costs i...,0.227273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39795,김록호,하나금융,A009150,삼성전기,9/10/21,9/9/21,9/8/21,호실적과 편안한 2022년,182500,188000,...,0.0,0.0,0.0,0.0,0.0,0.0,"188,000","188,000",Room and comfortable 2022,0.400000
39796,최정욱,하나금융,A316140,우리금융지주,9/10/21,9/9/21,9/8/21,공자위의 조속한 매각 결단을 환영,10850,10950,...,0.0,0.0,0.0,0.0,0.0,0.0,"10,950","10,950",Welcome to the confusion of the confidence,0.800000
39797,심은주,하나금융,A271560,오리온,9/10/21,9/9/21,9/8/21,저가 매수 유효,124500,123500,...,0.0,0.0,0.0,0.0,0.0,0.0,"124,500","124,500",Low cost volume valid,0.000000
39798,박강호,대신,A229640,LS전선아시아,9/10/21,9/9/21,9/8/21,"숨은 진주, 3Q 호실적 & 신재생에너지",8840,8770,...,0.0,0.0,0.0,0.0,0.0,0.0,"8,880","8,880","Hidden pearls, 3Q Human & Renewable Energy",-0.083333
39799,김경민,하나금융,A322310,오로스테크놀로지,9/10/21,9/9/21,9/8/21,올바른 방향으로 순항 중,30700,31500,...,0.0,0.0,0.0,0.0,0.0,0.0,"32,500","32,500","In the correct direction,",0.000000

In [232]:
sentiment_df.columns.to_list()

['author',
 'source',
 'ticker_symbol',
 'company',
 'report_date',
 '발행 전일',
 '발행 전전일',
 'report_title',
 'opening',
 'closing',
 '고가',
 '전일종가',
 '전전일종가',
 'recommendation',
 '고가1',
 '고가2',
 '고가3',
 '고가4',
 '고가5',
 '고가6',
 '고가7',
 '고가8',
 '고가9',
 '고가10',
 '고가11',
 '고가12',
 '고가13',
 '고가14',
 '고가15',
 '고가16',
 '고가17',
 '고가18',
 '고가19',
 '고가20',
 '고가21',
 '고가22',
 '고가23',
 '고가24',
 '고가25',
 '고가26',
 '고가27',
 '고가28',
 '고가29',
 '고가30',
 '고가31',
 '고가32',
 '고가33',
 '고가34',
 '고가35',
 '고가36',
 '고가37',
 '고가38',
 '고가39',
 '고가40',
 '고가41',
 '고가42',
 '고가43',
 '고가44',
 '고가45',
 '고가46',
 '고가47',
 '고가48',
 '고가49',
 '고가50',
 'H25',
 'H50',
 'en_report_title',
 'sentiment']

In [233]:
new_col_name = {
    '발행 전일': 'report_date-1',
    '발행 전전일': 'report_date-2',
    '고가': 'high',
    '전일종가': 'closing-1',
    '전전일종가': 'closing-2',
}

In [234]:
sentiment_df.rename(columns =new_col_name, inplace=True)

In [235]:
new_col_name = {
    'closing-1': 'closing_1',
    'closing-2': 'closing_2',
}
sentiment_df.rename(columns =new_col_name, inplace=True)

In [236]:
# dont need this any more.  took care of them in excel
#locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
#locale.atoi(sentiment_df.at[39795, 'opening'].strip())

In [237]:
sentiment_df.at[23612, 'closing']

671000

In [241]:
sentiment_df.query('opening == 0')

,author,source,ticker_symbol,company,report_date,report_date-1,report_date-2,report_title,opening,closing,...,고가45,고가46,고가47,고가48,고가49,고가50,H25,H50,en_report_title,sentiment
1592,이민희,IBK,A294630,서남,2020-01-29 00:00:00,2020-01-28 00:00:00,2020-01-23 00:00:00,구리선을 대체할 고온초전도 선재 선도기업,0,0,...,3140.0,3020.0,2845.0,3060.0,2985.0,3035.0,5200,5200,High temperature superconducting wire leading ...,0.16
2196,최종경,흥국,A294630,서남,2020-02-04 00:00:00,2020-02-03 00:00:00,2020-01-31 00:00:00,초전도 선재 상용화 선도기업,0,0,...,2985.0,3035.0,2965.0,3400.0,3345.0,3165.0,5200,5200,Superconducting leading companies,0.00
2197,나승두,SK,A294630,서남,2020-02-04 00:00:00,2020-02-03 00:00:00,2020-01-31 00:00:00,고온 초전도 시장의 성장 잠재력에 주목한다,0,0,...,2985.0,3035.0,2965.0,3400.0,3345.0,3165.0,5200,5200,Notice the growth potential of the high temper...,0.08
2675,최종경,흥국,A294140,레몬,2020-02-10 00:00:00,2020-02-07 00:00:00,2020-02-06 00:00:00,나노 멤브레인의 시대를 선도한다,0,0,...,17650.0,16400.0,14950.0,14650.0,14600.0,15000.0,13400,23200,Leading the era of nano membrane,0.00
2678,김장열,상상인,A294140,레몬,2020-02-10 00:00:00,2020-02-07 00:00:00,2020-02-06 00:00:00,김장열의 SEE-IT Note: 이 정도 성장 잠재력이라면 시총 ~5000억은 (공...,0,0,...,17650.0,16400.0,14950.0,14650.0,14600.0,15000.0,13400,23200,See-IT NOTE for Kim Jang Yu: If this is a pote...,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23078,정유진,IR큐더스,A347860,알체라,2020-12-10 00:00:00,2020-12-09 00:00:00,2020-12-08 00:00:00,밝은 인공지능 세상을 만들어가는 기업,0,0,...,23400.0,23050.0,22550.0,21900.0,21900.0,21750.0,50800,50800,Companies that make bright artificial intellig...,0.05
23079,정유진,IR큐더스,A347860,알체라,2020-12-10 00:00:00,2020-12-09 00:00:00,2020-12-08 00:00:00,공모분석보고서,0,0,...,23400.0,23050.0,22550.0,21900.0,21900.0,21750.0,50800,50800,Contact Analysis Report,0.00
23082,최종경,흥국,A357550,석경에이티,2020-12-10 00:00:00,2020-12-09 00:00:00,2020-12-08 00:00:00,고기능성 나노 소재 국가대표 강소기업,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,38000,38000,High Functional Nano Material National Represe...,0.16
23104,박종선,유진,A357550,석경에이티,2020-12-10 00:00:00,2020-12-09 00:00:00,2020-12-08 00:00:00,나노소재 핵심기술의 선도 업체,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,38000,38000,Leading of Nano Materials Core Technology,0.00
23184,전득호,IR큐더스,A335810,프리시젼바이오,2020-12-14 00:00:00,2020-12-11 00:00:00,2020-12-10 00:00:00,공모분석보고서,0,0,...,16085.0,15970.0,16105.0,15800.0,15805.0,15790.0,39250,39250,Contact Analysis Report,0.00

In [243]:
for i, r in sentiment_df.iterrows():
    if type(r['opening']) == str:
        print(i, r['opening'])
        sentiment_df.at[i, 'opening'] = 0
#        try:
#            sentiment_df.at[i, 'opening'] = locale.atoi(r['opening'].strip())
#        except:
#            print(i, r['opening'])
#            sentiment_df.at[i, 'opening'] = -1
#        print(i, type(r['opening']))
#        break

33031

In [245]:
for i, r in sentiment_df.iterrows():
    if type(r['high']) == str:
        print(i, r['high'])
        sentiment_df.at[i, 'high'] = 0
#        try:
#            sentiment_df.at[i, 'closing'] = locale.atoi(r['closing'].strip())
#        except:
#            print(i, r['closing'])
#            sentiment_df.at[i, 'closing'] = -1
#        print(i, type(r['closing']))
#        break

33031

In [248]:
for i, r in sentiment_df.iterrows():
    if type(r['closing_1']) == str:
        print(i, r['closing_1'])
        sentiment_df.at[i, 'closing_1'] = 0
#        try:
#            sentiment_df.at[i, 'closing'] = locale.atoi(r['closing'].strip())
#        except:
#            print(i, r['closing'])
#            sentiment_df.at[i, 'closing'] = -1
#        print(i, type(r['closing']))
#        break

33031

In [250]:
sentiment_df.drop(['closing-_1'], inplace = True, axis=1)

In [253]:
def fix_price(s_df, col_name):
    for i, r in s_df.iterrows():
        if type(r[col_name]) == str:
            s_df.at[i, col_name] = 0
#            print(i, r[col_name])
#            try:
#                s_df.at[i, col_name] = locale.atoi(r['closing'].strip())
#            except:
#                print(i, r[col_name])
#                s_df.at[i, col_name] = -1

In [ ]:
fix_price(sentiment_df, 'high')

In [139]:
fix_price(sentiment_df, 'closing-2')

23612  601,000
23613  355,000
23614  11,750
23615  271,200
23616  20,900
23617  34,900
23618  43,350
23619  8,470
23620  51,500
23621  36,250
23622  78,300
23623  14,650
23624  116,000
23625  190,500
23626  81,200
23627  27,000
23628  5,530
23629  383,000
23630  4,770
23631  29,700
23632  164,000
23633  4,880
23634  4,880
23635  179,000
23636  78,300
23637  17,250
23638  270,000
23639  251,000
23640  168,000
23641  39,500
23642  270,000
23643  116,000
23644  913,000
23645  72,200
23646  43,150
23647  7,890
23648  31,400
23649  8,570
23650  52,800
23651  37,100
23652  14,200
23653  39,050
23654  155,500
23655  61,200
23656  19,000
23657  27,650
23658  33,750
23659  12,850
23660  78,300
23661  116,000
23662  18,600
23663  24,350
23664  2,315
23665  4,985
23666  17,200
23667  53,500
23668  16,400
23669  62,200
23670  25,800
23671  7,920
23672  30,500
23673  17,300
23674  21,450
23675  63,100
23676  28,500
23677  27,400
23678  48,000
23679  7,040
23680  177,000
23681  81,000
23682  81,000
23683  931,000
23684  83,100
23685  292,500
23686  178,000
23687  38,650
23688  27,200
23689  108,500
23690  239,500
23691  48,000
23692  11,200
23693  58,800
23694  108,500
23695  7,040
23696  32,750
23697  29,650
23698  31,150
23699  92,600
23700  94,000
23701  190,000
23702  931,000
23703  94,000
23704  628,000
23705  47,900
23706  931,000
23707  931,000
23708  230,000
23709  9,610
23710  55,200
23711  145,000
23712  87,500
23713  824,000
23714  276,000
23715  151,500
23716  9,770
23717  92,600
23718  11,050
23719  9,830
23720  36,800
23721  292,500
23722  389,500
23723  3,040
23724  33,900
23725  27,200
23726  46,000
23727  13,500
23728  5,020
23729  13,950
23730  18,350
23731  47,800
23732  165,500
23733  184,000
23734  69,200
23735  104,000
23736  824,000
23737  170,100
23738  25,650
23739  55,200
23740  276,000
23741  182,400
23742  145,000
23743  37,450
23744  37,450
23745  39,700
23746  13,250
23747  51,000
23748  23,750
23749  8,360
23750  19,050
23751  19,400
23752  30,000
23753  20,750
23754  61,800
23755  16,700
23756  29,250
23757  21,950
23758  230,000
23759  15,400
23760  187,800
23761  61,800
23762  206,000
23763  1,620,000
23764  71,400
23765  239,500
23766  82,300
23767  13,250
23768  63,500
23769  7,780
23770  43,400
23771  37,800
23772  26,100
23773  238,000
23774  11,750
23775  24,000
23776  142,000
23777  396,000
23778  384,500
23779  13,800
23780  12,700
23781  187,200
23782  22,800
23783  151,500
23784  72,000
23785  180,000
23786  17,550
23787  41,200
23788  273,000
23789  19,050
23790  11,450
23791  192,500
23792  38,050
23793  978,000
23794  27,850
23795  8,070
23796  978,000
23797  396,000
23798  978,000
23800  293,000
23801  355,600
23803  4,660
23804  249,500
23805  32,000
23806  17,550
23807  5,560
23808  33,450
23810  20,250
23811  60,900
23812  29,950
23813  31,400
23814  23,950
23815  126,000
23816  31,100
23817  13,300
23818  16,750
23819  83,000
23820  35,000
23821  279,500
23822  -
23823  20,250
23824  234,000
23825  159,500
23826  -
23827  5,150
23828  105,500
23829  60,900
23830  42,850
23831  83,000
23832  23,950
23833  180,000
23834  190,400
23835  292,500
23836  393,000
23837  147,600
23839  27,250
23840  117,500
23841  53,800
23842  203,000
23843  1,610,000
23844  24,100
23845  57,000
23846  244,000
23847  69,100
23848  14,300
23849  20,000
23850  292,500
23851  40,000
23852  43,550
23853  29,450
23854  11,600
23855  285,000
23856  452,000
23857  26,900
23858  893,000
23859  158,000
23860  40,150
23861  8,710
23862  9,610
23863  32,100
23864  134,500
23865  10,450
23866  74,000
23867  686,000
23868  60,700
23869  180,000
23870  15,150
23871  204,500
23872  244,000
23873  45,750
23874  69,100
23875  34,050
23876  2,555
23877  56,400
23878  147,600
23879  10,100
23881  235,000
23882  31,000
23883  44,600
23884  35,400
23885  20,250
23886  23,550
23887  158,000
23888  43,550
23889  130,500
23890  292,500
23891  8,960
23893  452,000
23894  29,450
23895  28,050
23896  23,300
23897  11,300
23898  203,000
23899  7,450
23901  56,200
23902  35,950
23903  13,550
23904  16,200
23905  31,600
23906  39,000
23907  37,800
23908  3,740
23909  97,100
23910  39,650
23911  18,350
23912  75,300
23913  39,650
23914  3,740
23915  39,850
23916  290,000
23917  176,000
23918  13,950
23919  22,650
23920  8,380
23921  39,900
23922  155,000
23923  47,200
23924  131,000
23925  439,500
23926  83,000
23927  176,000
23928  98,500
23929  20,400
23930  35,600
23931  62,300
23932  129,500
23933  36,700
23934  20,400
23935  26,100
23936  73,000
23937  64,900
23938  64,600
23939  232,500
23940  64,600
23941  64,900
23942  131,000
23943  62,300
23944  172,000
23945  14,000
23946  31,550
23947  953,000
23948  395,500
23949  439,500
23950  82,200
23951  137,500
23952  82,200
23953  439,500
23954  203,000
23955  82,200
23956  107,000
23957  82,200
23958  82,900
23959  19,900
23960  698,000
23961  134,500
23962  82,900
23963  150,000
23964  6,170
23965  2,910
23967  82,900
23968  82,900
23969  108,500
23970  82,900
23971  150,000
23972  289,500
23973  20,500
23974  44,450
23975  57,400
23977  20,600
23978  150,000
23979  30,900
23980  206,000
23981  150,000
23982  291,000
23983  289,500
23984  20,600
23985  37,300
23986  21,150
23987  6,890
23988  304,500
23989  -
23990  5,520
23991  45,100
23992  32,400
23993  16,200
23994  147,700
23995  150,000
23996  43,600
23997  134,500
23998  188,000
23999  182,000
24000  99,100
24001  962,000
24002  150,000
24003  65,600
24004  26,200
24005  79,400
24006  82,900
24007  44,450
24008  189,000
24010  185,600
24011  6,740
24012  291,000
24013  36,650
24014  698,000
24015  289,500
24016  180,000
24017  150,000
24018  106,500
24019  33,000
24020  206,000
24021  12,450
24022  5,680
24023  24,650
24024  40,550
24025  270,000
24026  46,000
24027  5,780
24028  36,800
24029  7,200
24030  9,840
24031  33,750
24032  8,870
24033  150,000
24034  254,000
24035  158,500
24036  74,400
24037  37,400
24038  60,000
24039  291,000
24040  44,450
24041  442,500
24042  30,900
24043  9,140
24044  11,600
24045  136,500
24046  35,550
24047  82,800
24048  240,000
24049  74,700
24050  106,500
24051  168,500
24052  962,000
24053  263,000
24054  185,600
24055  73,600
24056  102,000
24057  129,000
24058  1,609,000
24059  200,000
24060  51,600
24061  97,800
24062  24,950
24063  29,300
24064  82,900
24065  51,000
24066  290,600
24067  45,750
24068  35,250
24069  6,430
24070  40,800
24071  14,250
24072  5,940
24073  28,250
24074  40,550
24075  46,500
24076  698,000
24077  82,900
24078  185,600
24079  82,900
24080  108,000
24081  76,200
24082  20,050
24083  150,000
24084  5,940
24085  147,700
24086  167,000
24087  12,000
24088  82,900
24089  29,200
24090  58,200
24091  82,900
24092  -
24094  147,700
24095  -
24096  -
24097  58,200
24098  200,000
24099  36,100
24100  304,000
24101  19,000
24102  31,000
24103  206,000
24104  17,150
24105  65,600
24106  24,850
24107  14,250
24108  60,000
24109  129,500
24110  106,500
24111  168,500
24112  82,800
24113  405,000
24114  123,500
24115  573,000
24116  300,000
24117  108,500
24118  184,000
24119  72,500
24120  35,400
24121  27,000
24122  332,000
24123  56,800
24124  70,000
24125  66,300
24126  19,950
24127  205,000
24128  8,440
24129  41,750
24130  15,800
24131  23,900
24132  23,900
24133  2,910
24134  27,300
24135  14,850
24136  289,500
24137  57,500
24138  402,500
24139  947,000
24140  129,500
24141  41,000
24142  28,150
24143  156,200
24144  4,150
24145  8,260
24146  179,000
24147  113,500
24148  82,900
24149  247,500
24150  79,000
24151  36,250
24152  141,000
24153  80,400
24154  140,600
24155  33,550
24156  31,250
24157  14,100
24158  7,040
24159  3,420
24160  88,800
24161  138,000
24162  312,000
24163  434,000
24164  61,500
24165  88,800
24166  138,000
24167  739,000
24168  147,500
24169  193,000
24170  20,000
24171  55,800
24172  193,500
24173  19,850
24174  47,200
24175  26,000
24176  41,300
24177  16,150
24178  7,360
24179  47,350
24180  5,710
24181  7,230
24182  48,850
24183  55,800
24184  20,000
24185  156,200
24186  107,500
24187  24,850
24188  -
24189  113,500
24190  12,850
24191  20,000
24192  31,050
24193  198,000
24194  88,800
24195  64,400
24196  434,000
24197  301,000
24198  28,250
24199  739,000
24200  995,000
24201  1,638,000
24202  294,500
24203  10,350
24204  19,950
24205  265,000
24206  193,000
24207  46,500
24208  89,800
24209  152,000
24210  9,910
24211  3,390
24212  37,700
24213  33,650
24214  44,000
24216  12,150
24217  179,000
24218  1,638,000
24219  190,500
24220  43,800
24221  23,050
24222  14,750
24223  80,700
24224  3,390
24225  4,150
24227  5,900
24228  995,000
24229  105,500
24230  109,000
24231  83,400
24232  432,500
24233  127,500
24234  34,800
24235  305,000
24236  1,638,000
24237  203,500
24238  57,400
24239  166,000
24240  19,950
24241  15,550
24242  96,200
24243  50,600
24244  17,850
24245  81,900
24246  424,000
24247  112,500
24248  70,400
24249  19,950
24250  98,500
24251  162,000
24252  44,100
24253  42,950
24254  5,860
24256  27,000
24257  -
24258  14,000
24259  267,500
24260  267,500
24261  48,400
24263  352,500
24264  453,000
24265  188,500
24266  99,400
24267  5,830
24268  62,000
24269  81,900
24270  19,600
24272  12,650
24273  173,500
24274  243,000
24275  290,000
24276  42,950
24277  287,500
24278  44,100
24279  62,400
24280  193,500
24281  257,500
24282  73,100
24283  23,000
24284  70,000
24285  196,000
24286  1,602,000
24287  12,300
24288  730,000
24289  39,200
24290  156,000
24291  37,400
24292  193,500
24293  188,500
24294  369,500
24295  73,300
24296  209,500
24297  170,000
24298  1,602,000
24299  5,860
24300  164,000
24301  19,600
24302  99,400
24303  112,500
24304  102,500
24305  14,000
24306  44,100
24307  42,950
24309  32,600
24310  164,000
24311  38,300
24312  36,250
24313  135,500
24314  77,700
24315  109,500
24316  243,000
24317  284,000
24318  81,800
24319  173,500
24320  57,400
24321  37,900
24322  171,500
24323  16,800
24324  42,200
24325  3,565
24326  56,800
24327  75,900
24328  260,800
24329  77,700
24330  36,250
24331  23,100
24332  309,000
24333  15,050
24334  9,880
24335  33,550
24336  31,800
24337  50,200
24338  27,350
24339  19,600
24340  50,700
24341  49,150
24342  37,050
24343  8,190
24344  309,000
24345  75,900
24346  453,000
24347  34,050
24348  572,000
24349  122,500
24350  298,000
24351  304,000
24352  1,560,000
24353  51,000
24354  93,500
24355  42,750
24356  23,950
24357  8,550
24358  253,500
24359  5,770
24360  23,950
24361  12,550
24362  68,000
24363  -
24364  35,100
24365  745,000
24366  5,770
24367  253,500
24368  15,300
24369  45,600
24370  384,000
24371  7,150
24372  10,100
24374  5,770
24375  25,750
24376  28,100
24377  14,050
24378  19,850
24379  11,550
24380  26,350
24381  145,500
24382  281,500
24383  102,000
24384  22,350
24385  28,100
24386  75,100
24387  17,950
24388  15,100
24389  10,300
24390  140,500
24391  384,000
24392  117,500
24393  100,100
24394  183,000
24395  193,000
24396  417,000
24397  10,150
24398  36,700
24399  18,700
24400  29,750
24401  417,000
24402  947,000
24403  214,500
24404  18,950
24405  46,900
24406  32,700
24407  457,500
24408  162,600
24409  418,500
24410  457,500
24411  33,850
24412  33,550
24413  35,100
24414  198,100
24415  8,100
24416  36,700
24417  102,500
24418  160,500
24419  75,100
24420  282,000
24421  187,500
24422  313,000
24423  -
24424  -
24425  100,500
24427  23,950
24428  947,000
24429  125,000
24430  267,800
24431  162,600
24432  45,600
24433  384,000
24434  8,550
24435  962,000
24436  313,000
24437  384,000
24438  14,050
24439  53,700
24440  160,500
24442  100,500
24444  282,000
24445  30,750
24446  214,500
24447  178,500
24448  -
24449  284,500
24450  947,000
24451  75,100
24452  32,050
24453  14,300
24454  20,600
24455  203,000
24456  58,200
24457  5,400
24458  72,300
24459  10,800
24460  24,150
24461  30,350
24462  43,300
24463  20,300
24464  11,200
24465  37,000
24466  39,800
24467  166,300
24468  30,650
24469  272,500
24470  73,200
24471  296,500
24472  215,000
24473  25,750
24474  127,000
24475  325,300
24476  116,000
24477  314,000
24478  830,000
24479  255,000
24480  -
24481  37,200
24482  40,050
24483  54,000
24484  54,700
24485  27,500
24486  6,120
24487  206,000
24488  -
24489  162,500
24490  -
24492  314,000
24493  454,500
24494  940,000
24495  127,000
24496  267,900
24497  67,900
24498  76,100
24499  166,300
24500  1,000,000
24501  754,000
24502  281,000
24503  254,000
24504  125,500
24505  8,470
24506  188,000
24507  43,250
24508  22,600
24509  14,450
24510  3,800
24511  1,000,000
24512  185,000
24513  23,150
24514  16,500
24515  166,300
24516  47,350
24517  99,300
24518  339,500
24519  197,400
24521  255,000
24522  37,150
24523  8,490
24525  15,400
24526  35,500
24527  50,300
24528  283,500
24529  72,500
24530  50,200
24531  50,400
24532  9,510
24533  55,700
24535  209,500
24536  80,000
24537  19,200
24538  19,200
24539  24,150
24541  37,050
24542  12,250
24543  47,000
24544  30,900
24545  255,500
24546  178,000
24547  17,700
24548  318,000
24549  250,500
24551  327,000
24552  5,990
24553  151,500
24554  39,000
24555  -
24556  64,100
24557  5,060
24558  79,200
24559  17,850
24560  73,600
24561  37,550
24562  8,340
24563  115,000
24564  40,550
24565  37,200
24566  152,500
24567  151,500
24568  1,010,000
24569  33,850
24570  39,350
24571  42,900
24572  14,000
24573  6,050
24574  47,050
24575  51,700
24576  100,000
24577  14,250
24578  44,750
24579  36,800
24580  155,900
24581  80,000
24582  352,500
24583  13,950
24584  29,050
24585  451,500
24586  -
24587  -
24588  103,000
24589  39,950
24590  5,990
24591  176,500
24592  254,000
24593  28,500
24594  18,900
24595  26,950
24596  7,030
24597  105,000
24598  12,050
24599  43,050
24600  13,200
24601  153,000
24602  8,150
24603  87,800
24604  11,100
24605  152,500
24606  -
24607  44,750
24608  -
24609  77,700
24610  262,000
24611  21,000
24612  14,000
24613  6,050
24614  28,350
24615  44,750
24616  64,100
24617  42,900
24618  28,350
24619  1,596,000
24620  213,500
24621  100,000
24622  51,700
24623  47,050
24624  176,500
24625  -
24626  33,850
24627  15,900
24628  451,500
24629  11,100
24630  103,000
24631  38,550
24632  67,500
24633  54,000
24635  39,250
24636  185,000
24637  75,300
24638  53,500
24639  81,700
24640  437,000
24641  121,500
24642  297,500
24643  35,750
24644  123,500
24645  188,500
24646  28,000
24647  252,500
24648  75,200
24649  45,200
24650  5,820
24652  86,400
24653  186,000
24654  147,000
24655  11,400
24656  169,000
24657  250,000
24658  75,300
24659  15,700
24660  32,450
24661  27,250
24662  9,710
24663  -
24664  240,000
24665  59,000
24666  75,300
24667  99,700
24668  158,600
24669  96,700
24670  169,000
24671  145,000
24672  99,700
24673  84,900
24674  8,950
24675  37,700
24676  158,600
24677  21,200
24678  25,200
24679  11,900
24680  129,000
24681  62,700
24682  935,000
24683  24,100
24684  5,930
24685  41,000
24686  -
24687  201,500
24689  27,250
24690  325,100
24691  18,850
24692  124,000
24693  75,300
24694  11,750
24695  41,550
24696  147,000
24697  86,400
24698  12,200
24699  192,800
24700  20,750
24701  192,800
24702  153,500
24703  3,685
24705  55,500
24706  81,700
24707  437,000
24708  121,500
24709  35,750
24710  297,500
24711  100,000
24712  28,000
24713  188,500
24714  123,500
24715  31,200
24716  75,200
24717  21,250
24718  45,200
24719  33,350
24720  9,920
24721  38,150
24722  5,880
24723  41,550
24724  104,000
24725  11,750
24727  86,400
24728  140,000
24729  201,500
24730  185,000
24731  47,000
24732  22,650
24733  23,150
24734  11,250
24735  28,250
24736  16,150
24737  59,400
24738  8,120
24739  247,500
24740  7,290
24742  8,290
24743  11,550
24744  9,400
24745  300,500
24746  270,300
24747  15,900
24748  184,800
24749  80,600
24750  45,250
24751  32,600
24752  38,150
24753  9,750
24754  8,560
24755  10,650
24756  34,850
24757  76,900
24758  16,750
24759  23,600
24760  16,900
24761  938,000
24762  28,250
24763  83,900
24764  26,000
24765  17,100
24766  34,100
24767  22,750
24768  113,500
24769  112,000
24770  33,250
24771  70,300
24772  54,400
24773  33,250
24774  323,500
24775  24,800
24776  60,600
24777  45,300
24778  11,300
24779  11,450
24780  7,150
24781  8,170
24782  4,520
24783  11,550
24784  73,300
24785  42,800
24786  37,200
24787  33,250
24788  27,050
24789  100,500
24790  72,100
24791  80,600
24792  21,700
24793  181,500
24794  25,000
24795  184,800
24796  96,300
24797  171,500
24798  15,650
24799  32,200
24801  376,000
24802  139,000
24803  82,000
24804  139,000
24805  41,150
24806  56,900
24807  317,200
24808  101,000
24809  427,500
24810  3,600
24811  40,600
24812  20,700
24813  22,000
24814  53,700
24815  38,300
24816  -
24817  71,400
24818  148,000
24819  245,000
24820  148,000
24821  11,750
24822  308,000
24823  165,000
24824  148,000
24825  1,640
24826  55,200
24827  -
24828  23,450
24829  35,950
24830  148,000
24831  308,000
24832  22,000
24833  9,320
24834  309,000
24835  63,000
24836  103,000
24837  36,500
24838  35,250
24839  30,300
24840  309,000
24841  130,900
24842  35,000
24843  165,000
24844  4,825
24845  21,200
24846  25,650
24847  148,000
24848  437,000
24849  45,200
24850  7,520
24851  17,900
24852  12,050
24853  30,350
24854  40,900
24855  308,000
24856  53,700
24857  10,150
24858  308,000
24859  997,000
24860  44,350
24861  68,000
24862  30,600
24863  87,000
24864  3,400
24865  189,000
24866  165,000
24867  31,700
24868  20,400
24869  16,850
24870  4,825
24871  14,950
24872  31,700
24873  16,100
24874  20,400
24875  16,850
24876  87,800
24877  10,000
24878  11,650
24879  41,900
24880  149,000
24881  47,950
24882  11,650
24883  53,800
24884  261,500
24885  83,400
24886  345,000
24887  60,000
24888  440,000
24889  17,100
24890  133,400
24891  148,000
24892  9,280
24893  271,000
24894  45,400
24895  11,750
24896  49,550
24897  35,400
24898  24,450
24899  16,000
24900  15,900
24901  68,300
24902  106,900
24903  43,750
24904  38,500
24905  182,000
24906  51,000
24907  31,300
24908  166,300
24909  81,000
24910  200,000
24911  10,350
24912  56,300
24913  194,800
24914  10,400
24915  229,500
24916  100,500
24917  37,400
24918  43,550
24919  420,000
24920  308,000
24921  52,300
24922  12,850
24923  83,000
24924  -
24925  13,500
24926  83,000
24927  38,600
24928  44,000
24929  19,550
24930  248,500
24931  273,000
24932  38,500
24933  108,500
24934  12,750
24935  248,500
24936  28,000
24937  100,500
24938  209,500
24939  196,000
24940  31,300
24941  12,800
24942  -
24943  72,500
24944  45,150
24945  42,200
24946  6,610
24947  45,150
24948  106,900
24949  196,000
24950  12,550
24951  162,500
24952  68,100
24953  15,450
24954  55,700
24955  46,400
24956  -
24957  113,500
24958  243,500
24959  35,150
24960  79,700
24961  172,000
24962  83,900
24963  170,000
24964  229,500
24965  1,554,000
24966  100,500
24967  -
24968  52,300
24969  83,000
24970  166,000
24971  6,190
24972  11,850
24973  4,060
24974  33,800
24975  341,500
24976  368,500
24977  16,100
24978  406,500
24979  23,900
24980  12,250
24981  185,000
24982  44,800
24983  59,800
24984  406,500
24985  745,000
24986  44,800
24987  18,550
24988  49,450
24989  3,435
24990  33,350
24991  44,800
24992  3,285
24993  44,800
24994  26,750
24995  11,800
24996  4,240
24997  221,000
24998  46,100
24999  44,800
25000  43,500
25001  6,460
25002  88,100
25003  44,900
25004  13,500
25005  6,740
25006  3,390
25007  80,000
25008  44,800
25009  46,100
25010  44,800
25011  18,150
25012  5,200
25013  4,085
25014  5,010
25015  55,700
25016  24,650
25017  108,500
25018  32,450
25019  221,000
25020  47,850
25021  44,150
25022  48,800
25023  191,800
25024  28,100
25025  29,550
25027  6,860
25028  322,500
25029  44,800
25030  44,800
25031  11,700
25032  25,800
25033  173,000
25034  19,250
25035  108,000
25036  139,700
25037  5,300
25038  18,200
25039  55,700
25040  25,600
25041  80,900
25042  44,800
25043  322,500
25044  52,900
25045  44,800
25046  16,900
25047  44,800
25048  121,000
25049  44,800
25050  988,000
25051  143,000
25052  44,800
25053  988,000
25054  294,500
25055  56,700
25056  186,000

In [254]:
korean_colnames = ['고가1',
 '고가2',
 '고가3',
 '고가4',
 '고가5',
 '고가6',
 '고가7',
 '고가8',
 '고가9',
 '고가10',
 '고가11',
 '고가12',
 '고가13',
 '고가14',
 '고가15',
 '고가16',
 '고가17',
 '고가18',
 '고가19',
 '고가20',
 '고가21',
 '고가22',
 '고가23',
 '고가24',
 '고가25',
 '고가26',
 '고가27',
 '고가28',
 '고가29',
 '고가30',
 '고가31',
 '고가32',
 '고가33',
 '고가34',
 '고가35',
 '고가36',
 '고가37',
 '고가38',
 '고가39',
 '고가40',
 '고가41',
 '고가42',
 '고가43',
 '고가44',
 '고가45',
 '고가46',
 '고가47',
 '고가48',
 '고가49',
 '고가50',]

In [255]:
for colnm in korean_colnames:
    fix_price(sentiment_df, colnm)

In [256]:
fix_price(sentiment_df, 'H25')
fix_price(sentiment_df, 'H50')

# Labeling

In [257]:
sentiment_df.query('closing_1 == " - "')

Empty DataFrame
Columns: [author, source, ticker_symbol, company, report_date, report_date-1, report_date-2, report_title, opening, closing, high, closing_1, closing_2, recommendation, 고가1, 고가2, 고가3, 고가4, 고가5, 고가6, 고가7, 고가8, 고가9, 고가10, 고가11, 고가12, 고가13, 고가14, 고가15, 고가16, 고가17, 고가18, 고가19, 고가20, 고가21, 고가22, 고가23, 고가24, 고가25, 고가26, 고가27, 고가28, 고가29, 고가30, 고가31, 고가32, 고가33, 고가34, 고가35, 고가36, 고가37, 고가38, 고가39, 고가40, 고가41, 고가42, 고가43, 고가44, 고가45, 고가46, 고가47, 고가48, 고가49, 고가50, H25, H50, en_report_title, sentiment]
Index: []

[0 rows x 68 columns]

In [258]:
## Labeling 1
sentiment_df.query('closing_1 <= closing and sentiment > 0')[['closing_1', 'closing']]

      closing_1 closing
49         2630    2670
50        15300   16000
51         8130    8490
53         8590    8920
62         8533    8700
...         ...     ...
39776    709000  756000
39783     10800   10950
39787     41800   42100
39795    181000  188000
39796     10800   10950

[5047 rows x 2 columns]

In [259]:
# df['col_3'] = df.apply(lambda x: f(x.col_1, x.col_2), axis=1)
sentiment_df['__label1'] = sentiment_df.apply(lambda x: 1 if x.closing_1 <= x.closing else 0, axis=1)

In [260]:
sentiment_df['__label2'] = sentiment_df.apply(lambda x: 1 if x.closing <= x.고가1 else 0, axis=1)

In [261]:
sentiment_df['__label3'] = sentiment_df.apply(lambda x: 1 if x.closing_1 <= x.고가1 else 0, axis=1)

In [262]:
sentiment_df.keys()

Index(['author', 'source', 'ticker_symbol', 'company', 'report_date',
       'report_date-1', 'report_date-2', 'report_title', 'opening', 'closing',
       'high', 'closing_1', 'closing_2', 'recommendation', '고가1', '고가2', '고가3',
       '고가4', '고가5', '고가6', '고가7', '고가8', '고가9', '고가10', '고가11', '고가12',
       '고가13', '고가14', '고가15', '고가16', '고가17', '고가18', '고가19', '고가20', '고가21',
       '고가22', '고가23', '고가24', '고가25', '고가26', '고가27', '고가28', '고가29', '고가30',
       '고가31', '고가32', '고가33', '고가34', '고가35', '고가36', '고가37', '고가38', '고가39',
       '고가40', '고가41', '고가42', '고가43', '고가44', '고가45', '고가46', '고가47', '고가48',
       '고가49', '고가50', 'H25', 'H50', 'en_report_title', 'sentiment',
       '__label1', '__label2', '__label3'],
      dtype='object')

In [263]:
sentiment_df.query('closing_1 <= closing and sentiment > 0')[['closing_1', 'closing', '고가1', '__label1', '__label2', '__label3']]

      closing_1 closing       고가1  __label1  __label2  __label3
49         2630    2670    2726.0         1         1         1
50        15300   16000   16050.0         1         1         1
51         8130    8490    8550.0         1         1         1
53         8590    8920    8950.0         1         1         1
62         8533    8700    8833.0         1         1         1
...         ...     ...       ...       ...       ...       ...
39776    709000  756000  757000.0         1         1         1
39783     10800   10950   10950.0         1         1         1
39787     41800   42100   42650.0         1         1         1
39795    181000  188000  188000.0         1         1         1
39796     10800   10950   10950.0         1         1         1

[5047 rows x 6 columns]

In [264]:
sentiment_df[['closing_1', 'closing', '고가1', '__label1', '__label2', '__label3']]

      closing_1 closing       고가1  __label1  __label2  __label3
0         51600   50000   51400.0         0         1         0
1         62600   62800   63200.0         1         1         1
2         77500   76000   77400.0         0         1         0
3        236000  232000  237500.0         0         1         1
4        317500  314000  321000.0         0         1         1
...         ...     ...       ...       ...       ...       ...
39795    181000  188000  188000.0         1         1         1
39796     10800   10950   10950.0         1         1         1
39797    124000  123500  124500.0         0         1         1
39798      8580    8770    8880.0         1         1         1
39799     28900   31500   32500.0         1         1         1

[39267 rows x 6 columns]

In [265]:
sentiment_df.query('__label1 == 1')

,author,source,ticker_symbol,company,report_date,report_date-1,report_date-2,report_title,opening,closing,...,고가48,고가49,고가50,H25,H50,en_report_title,sentiment,__label1,__label2,__label3
1,백영찬,KB,A010060,OCI,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,폴리실리콘 원가개선 필요한 시점,62700,62800,...,48200.0,46300.0,39150.0,65900,67300,Polysilicon cost improvement required,0.000000,1,1,1
6,박은경,삼성,A008770,호텔신라,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,마케팅을 적게 해도 수요는 작아지지 않는다,92100,94000,...,85000.0,81800.0,76500.0,111000,111000,"Even if you have less marketing, demand is not...",-0.020833,1,1,1
14,장문준,KB,A009240,한샘,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,무난한 4분기 실적 vs. 아직은 불확실한 업황,62500,66700,...,64400.0,63000.0,57900.0,78800,79300,4Q earnings vs.Still uncertainty,0.000000,1,1,1
16,김양재,KTB,A000660,SK하이닉스,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,4Q19 Preview: 컨센서스 소폭 상회 전망,96000,94700,...,88500.0,84600.0,84700.0,103500,106000,4Q19 Preview: Consensus Sight,0.000000,1,1,1
17,김양재,KTB,A034220,LG디스플레이,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,4Q19 Preview: 4Q19 저점 실적 회복 전망,16450,16350,...,13300.0,12900.0,11650.0,16800,16800,4q19 Preview: 4q19 Low-point performance recov...,0.000000,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39794,박혜진,대신,A316140,우리금융지주,9/10/21,9/9/21,9/8/21,민영화터널의 끝이 보인다,10850,10950,...,0.0,0.0,0.0,0,0,The end of the privatization tunnel,0.000000,1,1,1
39795,김록호,하나금융,A009150,삼성전기,9/10/21,9/9/21,9/8/21,호실적과 편안한 2022년,182500,188000,...,0.0,0.0,0.0,0,0,Room and comfortable 2022,0.400000,1,1,1
39796,최정욱,하나금융,A316140,우리금융지주,9/10/21,9/9/21,9/8/21,공자위의 조속한 매각 결단을 환영,10850,10950,...,0.0,0.0,0.0,0,0,Welcome to the confusion of the confidence,0.800000,1,1,1
39798,박강호,대신,A229640,LS전선아시아,9/10/21,9/9/21,9/8/21,"숨은 진주, 3Q 호실적 & 신재생에너지",8840,8770,...,0.0,0.0,0.0,0,0,"Hidden pearls, 3Q Human & Renewable Energy",-0.083333,1,1,1
39799,김경민,하나금융,A322310,오로스테크놀로지,9/10/21,9/9/21,9/8/21,올바른 방향으로 순항 중,30700,31500,...,0.0,0.0,0.0,0,0,"In the correct direction,",0.000000,1,1,1

In [266]:
for k, r in sentiment_df.iterrows():
    if type(r['report_date']) == str:
#        print(k, r['report_date'], type(r['report_date']))
        sentiment_df.at[k, 'report_date'] = datetime.strptime(r['report_date'], '%m/%d/%y')
#        break

In [267]:
tmp = datetime.strptime('1/4/21', '%m/%d/%y')
type(tmp)

datetime.datetime

In [268]:
sentiment_df

,author,source,ticker_symbol,company,report_date,report_date-1,report_date-2,report_title,opening,closing,...,고가48,고가49,고가50,H25,H50,en_report_title,sentiment,__label1,__label2,__label3
0,백영찬,KB,A078930,GS,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,4분기 실적은 기대수준을 소폭 하회할 전망,51300,50000,...,40450.0,40550.0,36400.0,51400,51400,4Q09 earnings are expected to meet expectations,-0.100000,0,1,0
1,백영찬,KB,A010060,OCI,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,폴리실리콘 원가개선 필요한 시점,62700,62800,...,48200.0,46300.0,39150.0,65900,67300,Polysilicon cost improvement required,0.000000,1,1,1
2,백영찬,KB,A011780,금호석유,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,"견조한 고무사업, 그러나 부진한 페놀유도체",77300,76000,...,63200.0,63700.0,56300.0,82100,82100,"A solid rubber business, but sluggish phenol oil",0.000000,0,1,0
3,장정훈,삼성,A006400,삼성SDI,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,20년 연초에 꾸는 꿈,237000,232000,...,301500.0,291500.0,284500.0,322500,351000,Dreams of 20 years,0.000000,0,1,1
4,백영찬,KB,A051910,LG화학,2020-01-02 00:00:00,2019-12-30 00:00:00,NaN,4분기 ESS 비용반영을 긍정적으로 보자,321000,314000,...,377500.0,367000.0,343500.0,391500,422500,Let's see a positive reflection of ESS costs i...,0.227273,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39795,김록호,하나금융,A009150,삼성전기,2021-09-10 00:00:00,9/9/21,9/8/21,호실적과 편안한 2022년,182500,188000,...,0.0,0.0,0.0,0,0,Room and comfortable 2022,0.400000,1,1,1
39796,최정욱,하나금융,A316140,우리금융지주,2021-09-10 00:00:00,9/9/21,9/8/21,공자위의 조속한 매각 결단을 환영,10850,10950,...,0.0,0.0,0.0,0,0,Welcome to the confusion of the confidence,0.800000,1,1,1
39797,심은주,하나금융,A271560,오리온,2021-09-10 00:00:00,9/9/21,9/8/21,저가 매수 유효,124500,123500,...,0.0,0.0,0.0,0,0,Low cost volume valid,0.000000,0,1,1
39798,박강호,대신,A229640,LS전선아시아,2021-09-10 00:00:00,9/9/21,9/8/21,"숨은 진주, 3Q 호실적 & 신재생에너지",8840,8770,...,0.0,0.0,0.0,0,0,"Hidden pearls, 3Q Human & Renewable Energy",-0.083333,1,1,1
39799,김경민,하나금융,A322310,오로스테크놀로지,2021-09-10 00:00:00,9/9/21,9/8/21,올바른 방향으로 순항 중,30700,31500,...,0.0,0.0,0.0,0,0,"In the correct direction,",0.000000,1,1,1

In [269]:
sentiment_df.to_pickle(PROJ_HOME+'/data/labeled_sentiment.pkl')

In [270]:
sentiment_df.query('closing_1 > 0 and closing > 0').to_pickle(PROJ_HOME+'/data/label_1_sentiment.pkl')

In [271]:
sentiment_df.columns

Index(['author', 'source', 'ticker_symbol', 'company', 'report_date',
       'report_date-1', 'report_date-2', 'report_title', 'opening', 'closing',
       'high', 'closing_1', 'closing_2', 'recommendation', '고가1', '고가2', '고가3',
       '고가4', '고가5', '고가6', '고가7', '고가8', '고가9', '고가10', '고가11', '고가12',
       '고가13', '고가14', '고가15', '고가16', '고가17', '고가18', '고가19', '고가20', '고가21',
       '고가22', '고가23', '고가24', '고가25', '고가26', '고가27', '고가28', '고가29', '고가30',
       '고가31', '고가32', '고가33', '고가34', '고가35', '고가36', '고가37', '고가38', '고가39',
       '고가40', '고가41', '고가42', '고가43', '고가44', '고가45', '고가46', '고가47', '고가48',
       '고가49', '고가50', 'H25', 'H50', 'en_report_title', 'sentiment',
       '__label1', '__label2', '__label3'],
      dtype='object')

In [272]:
features_df = sentiment_df[['author', 'source', 'ticker_symbol', 'company', 'report_date', 'recommendation', 'sentiment', '__label1', '__label2', '__label3']]

In [273]:
features_df.to_pickle(PROJ_HOME+'/data/labeled_minimum_features.pkl')

In [274]:
features_df['ticker_symbol'].value_counts()

A005930    522
A035420    403
A017670    374
A066570    374
A000660    373
          ...
A001130      1
A006090      1
A201490      1
A029460      1
A006490      1
Name: ticker_symbol, Length: 1245, dtype: int64

In [275]:
features_df['report_date'].value_counts()

2020-05-18    348
2020-08-18    302
2020-11-16    269
2021-05-17    264
2020-11-17    264
             ...
2020-01-19      3
2020-07-25      2
2020-03-29      2
2020-05-01      1
2021-05-19      1
Name: report_date, Length: 428, dtype: int64

In [276]:
features_df['recommendation'].value_counts()

BUY           30522
NR             6317
HOLD           2333
STRONG_BUY       67
SELL             16
REDUCE           12
Name: recommendation, dtype: int64

In [277]:
features_df['__label1'].value_counts()

1    22444
0    16823
Name: __label1, dtype: int64

In [278]:
features_df['__label2'].value_counts()

1    39017
0      250
Name: __label2, dtype: int64

In [279]:
features_df['__label3'].value_counts()

1    35213
0     4054
Name: __label3, dtype: int64

In [280]:
features_df

,author,source,ticker_symbol,company,report_date,recommendation,sentiment,__label1,__label2,__label3
0,백영찬,KB,A078930,GS,2020-01-02 00:00:00,BUY,-0.100000,0,1,0
1,백영찬,KB,A010060,OCI,2020-01-02 00:00:00,HOLD,0.000000,1,1,1
2,백영찬,KB,A011780,금호석유,2020-01-02 00:00:00,HOLD,0.000000,0,1,0
3,장정훈,삼성,A006400,삼성SDI,2020-01-02 00:00:00,BUY,0.000000,0,1,1
4,백영찬,KB,A051910,LG화학,2020-01-02 00:00:00,BUY,0.227273,0,1,1
...,...,...,...,...,...,...,...,...,...,...
39795,김록호,하나금융,A009150,삼성전기,2021-09-10 00:00:00,BUY,0.400000,1,1,1
39796,최정욱,하나금융,A316140,우리금융지주,2021-09-10 00:00:00,BUY,0.800000,1,1,1
39797,심은주,하나금융,A271560,오리온,2021-09-10 00:00:00,BUY,0.000000,0,1,1
39798,박강호,대신,A229640,LS전선아시아,2021-09-10 00:00:00,BUY,-0.083333,1,1,1
39799,김경민,하나금융,A322310,오로스테크놀로지,2021-09-10 00:00:00,NR,0.000000,1,1,1

In [281]:
sentiment_df.query('closing_1 > 0 and closing > 0')[['author', 'source', 'ticker_symbol', 'company', 'report_date', 'recommendation', 'sentiment', '__label1', '__label2', '__label3']]

,author,source,ticker_symbol,company,report_date,recommendation,sentiment,__label1,__label2,__label3
0,백영찬,KB,A078930,GS,2020-01-02 00:00:00,BUY,-0.100000,0,1,0
1,백영찬,KB,A010060,OCI,2020-01-02 00:00:00,HOLD,0.000000,1,1,1
2,백영찬,KB,A011780,금호석유,2020-01-02 00:00:00,HOLD,0.000000,0,1,0
3,장정훈,삼성,A006400,삼성SDI,2020-01-02 00:00:00,BUY,0.000000,0,1,1
4,백영찬,KB,A051910,LG화학,2020-01-02 00:00:00,BUY,0.227273,0,1,1
...,...,...,...,...,...,...,...,...,...,...
39795,김록호,하나금융,A009150,삼성전기,2021-09-10 00:00:00,BUY,0.400000,1,1,1
39796,최정욱,하나금융,A316140,우리금융지주,2021-09-10 00:00:00,BUY,0.800000,1,1,1
39797,심은주,하나금융,A271560,오리온,2021-09-10 00:00:00,BUY,0.000000,0,1,1
39798,박강호,대신,A229640,LS전선아시아,2021-09-10 00:00:00,BUY,-0.083333,1,1,1
39799,김경민,하나금융,A322310,오로스테크놀로지,2021-09-10 00:00:00,NR,0.000000,1,1,1

In [282]:
sentiment_df[['closing_1', 'closing']]

      closing_1 closing
0         51600   50000
1         62600   62800
2         77500   76000
3        236000  232000
4        317500  314000
...         ...     ...
39795    181000  188000
39796     10800   10950
39797    124000  123500
39798      8580    8770
39799     28900   31500

[39267 rows x 2 columns]